section#MemoryGame{
    background-image: url('../../../assets/images/Jogar/menu/menu-background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .background{
        width: 100%;
        height: 100vh;
        overflow: hidden;

        background-color: rgba(0, 0, 0, 0.8);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .memory-tutorial{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .avatar{
                img{
                    width: 15vh;
                }
            }

            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 10px;

                .say{
                    background-color: #FFFFFF;
                    border-radius: 10px;
                    padding: 10px;

                    h1{
                        font-size: 13px;
                        color: #017397;
                        text-align: center;
                    }

                    p{
                        font-size: 13px;
                        color: rgba(1, 115, 151, 0.5);
                        text-align: center;
                    }
                }

                .actions{
                    display: flex;
                    width: 50%;
                    button.start-game{
                        width: 100%;
                        background-color: #07FD7A;
                        border-radius: 10px;
                        border: none;

                        align-items: center;
                        padding: 10px;

                        cursor: pointer;

                        h1{
                            font-size: 15px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }

        .win-popup{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 41px;

            .win{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                img{
                    width: 15vh;
                }

                h1{
                    font-size: 32px;
                    text-align: center;
                    color: #FFFFFF;
                }

                p{
                    font-size: 13px;
                    font-weight: 400;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.5);
                }
            }

            .premium{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                background-color: rgba(255, 255, 255, 0.5);
                width: 15vh;
                height: 15vh;
                
                border-radius: 10px;

                h1{
                    font-size: 13px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .actions{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 14px;

                button.menu{
                    width: 100%;
                    background-color: #07FD7A;
                    border-radius: 20px;
                    border: none;

                    align-items: center;
                    padding: 15px 40px;

                    cursor: pointer;

                    h1{
                        font-size: 15px;
                        color: #FFFFFF;
                    }
                }

                button.jogar-novamente{
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    border-radius: 20px;
                    border: none;

                    align-items: center;
                    padding: 15px 40px;

                    cursor: pointer;

                    h1{
                        font-size: 15px;
                        color: #FFFFFF;
                    }
                }

                button.jogar-novamente:hover{
                    background-color: rgba(0, 0, 0, 1);
                }

                
            }
        }

        .content{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .cards-grid{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 25px 13px;
            }
        }
    }
}